*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: dimgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 0 0 5px white, 0 0 10px white,
    0 0 15px plum, 0 0 20px plum,
    0 0 25px plum, 0 0 30px plum;
}

.btn{
    margin-top: 100px;
    height: 60px;
    width: 100px;
}

button{
    margin-left: 25px;
    border: none;
    background-color: transparent;
}

button:hover{
    border: none;
    cursor: pointer;
    transform: scale(1.2);
}

.js{
    color: white;
    text-align: center;

}

h1{
    color: white;
    margin-top: 30px;
    margin: 50px;

}